<head>
  <style>
    .carousel {
      margin-bottom: 0;
      padding: 0 40px 30px;
    }
    /* The controlsy */
    .carousel-control {
      left: -12px;
      height: 40px;
      width: 40px;
      background: none repeat scroll 0 0 #222222;
      border: 4px solid #FFFFFF;
      border-radius: 23px 23px 23px 23px;
      margin-top: 90px;
    }
    .carousel-control.right {
      right: -12px;
    }

    /* The colour of the indicators */
    .carousel-indicators li {
      background: #cecece;
    }
    .carousel-indicators .active {
      background: #428bca;
    }

    .hero a {
      z-index: 999;
      width: 200px;
      height: 200px;
      display: block;
    }

    .module-name {
      margin-top: 45px;
      margin-bottom: 30px;
      color: rgba(0, 0, 0, 0.7);
      text-align: center;
      font-size: 0;
    }
    .module-name.decorative i {
      display: inline-block;
      vertical-align: middle;
      width: 95px;
      height: 2px;
      background: rgba(0, 0, 0, 0.7);
      margin-right: 20px;
    }
    .module-name.decorative span {
      display: inline-block;
      vertical-align: middle;
      font-size: 30px;
    }
    .sticker-new {
      background: url("http://keenthemes.com/assets/bootsnipp/new.png") no-repeat;
      left: auto;
    }
    .sticker {
      position: absolute;
      top: 0;
      right: 15px;
      width: 63px;
      height: 63px;
    }
    .promise {
      width: 100%;
      height: 500px;
      background-color: rgb(245,245,245);
    }
    #pic1 {
      margin-left: 10px;
      height: 100px;
      border-radius: 100px;

    }

    .ff {
      font-family: STKaiti;
      font-size: 25px;

      padding-top: 20px;
      padding-left: 50px;
      text-align: center;
    }
    .text-road {
      float: right;
      width: 500px;
      font-size: 23px;
      padding-top: 130px;
      color: rgb(158,158,158);
      font-family: STKaiti;
      text-align: center;
    }
    .text-mountain {
      float: left;
      width: 500px;
      font-size: 23px;
      padding-top: 130px;
      color: rgb(158,158,158);
      font-family: STKaiti;
      text-align: center;
    }
    .customer {
      width: 100%;
      height: 500px;
      background-color: rgb(245,245,245);
    }
    .customer-pic {
      margin: 20px auto;
      width: 1000px;
      height: 200px;
    }
    .cp1 {
      margin-top: 60px;
      margin-left: 150px;
      margin-right: 100px;
      width: 100px;
      height: 100px;
      border-radius: 100px;
    }
    .cp2 {
      margin-top: 60px;
      margin-left: 100px;
      margin-right: 100px;
      width: 100px;
      height: 100px;
      border-radius: 100px;
    }
    .cp3 {
      margin-top: 60px;
      margin-left: 100px;
      margin-right: 100px;
      width: 100px;
      height: 100px;
      border-radius: 100px;
    }
    .customer-text {
      margin: 20px auto;
      width: 1000px;
      height: 200px;
      font-size: 25px;
    }
    .customer-text1 {
      float: left;
      margin-left: 60px;
      width: 250px;
      color: rgb(158,158,158);
      font-family: STKaiti;
    }
    .customer-text2 {
      float: left;
      margin-left: 60px;
      width: 250px;
      color: rgb(158,158,158);
      font-family: STKaiti;
    }
    .customer-text3 {
      float: left;
      margin-left: 60px;
      width: 250px;
      color: rgb(158,158,158);
      font-family: STKaiti;
    }
    .push-btn {
      text-align: center;
    }

  </style>
</head>

<div class="carousel fade-carousel slide" data-ride="carousel" data-interval="4000" id="bs-carousel" style="padding-left:0px;padding-right:0px;">
  <!-- Overlay -->
  <div class="overlay"></div>

  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#bs-carousel" data-slide-to="0" class="active"></li>
    <li data-target="#bs-carousel" data-slide-to="1"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item slides active">
      <div class="slide-1"></div>
      <div class="hero">
        <hgroup>
          <h1>骑行改变生活</h1><br>
          <h2>
            <i class="fa fa-bicycle" aria-hidden="true"></i>by bike
          </h2>
        </hgroup>
        <button class="btn btn-hero btn-lg" onclick="window.location.href='products/mountain/'" role="button">山地自行车</button>
      </div>
    </div>

    <div class="item slides">
      <div class="slide-2"></div>
      <div class="hero">
        <hgroup>
          <h1>骑行改变生活</h1>s
          <h2>
            <i class="fa fa-bicycle" aria-hidden="true"></i>by bike
          </h2>
        </hgroup>
        <button class="btn btn-hero btn-lg" onclick="window.location.href='products/road/'" role="button">公路自行车</button>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row" style="margin-top:20px;">
    <div class="col-md-12">
      <div class="module-name decorative">
        <i></i>
        <span>精选商品</span>
        <i style="margin-left: 20px;"></i>
      </div>
      <div id="Carousel" class="carousel slide">

        <!-- Carousel items -->
        <div class="carousel-inner">

          <div class="item active">
            <div class="row" style="margin-top:20px;">
              <div class="col-md-3">
                <div class="sticker sticker-new"></div>
                <a href="products/1/" class="thumbnail"><img src="https://ww1.sinaimg.cn/large/006tKfTcly1fd46ldcr1zj30by0byq3n.jpg" alt="Image" style="max-width:100%;"></a>
              </div>
              <div class="col-md-3">
                <a href="products/2/" class="thumbnail"><img src="https://ww4.sinaimg.cn/large/006tKfTcly1fd46lsrsknj30by0byjs0.jpg" alt="Image" style="max-width:100%;"></a>
              </div>
              <div class="col-md-3">
                <a href="products/3/" class="thumbnail"><img src="https://ww3.sinaimg.cn/large/006tKfTcly1fd4738xu4uj30by0by74x.jpg" alt="Image" style="max-width:100%;"></a>
              </div>
              <div class="col-md-3">
                <a href="products/4/" class="thumbnail"><img src="https://ww3.sinaimg.cn/large/006tKfTcly1fd479vyr1dj30by0byq3j.jpg" alt="Image" style="max-width:100%;"></a>
              </div>
            </div>
            <!--.row-->
          </div>
          <!--.item-->

          <div class="item">
            <div class="row" style="margin-top:20px;">
              <div class="col-md-3">
                <div class="sticker sticker-new"></div>
                <a href="products/5/" class="thumbnail"><img src="https://ww4.sinaimg.cn/large/006tNc79gy1fd1tl76yvvj30by0byaaq.jpg" alt="Image" style="max-width:100%;"></a>
              </div>
              <div class="col-md-3">
                <a href="products/6/" class="thumbnail"><img src="https://ww2.sinaimg.cn/large/006tKfTcly1fd47funk54j30by0by0tg.jpg" alt="Image" style="max-width:100%;"></a>
              </div>
              <div class="col-md-3">
                <a href="products/7/" class="thumbnail"><img src="https://ww4.sinaimg.cn/large/006tKfTcly1fd47vl4zu8j30by0byt9b.jpg" alt="Image" style="max-width:100%;"></a>
              </div>
              <div class="col-md-3">
                <a href="products/8/" class="thumbnail"><img src="https://ww3.sinaimg.cn/large/006tKfTcly1fd47v0gggqj30by0by74v.jpg" alt="Image" style="max-width:100%;"></a>
              </div>
            </div>
            <!--.row-->
          </div>
          <!--.item-->

        </div>
        <!--.carousel-inner-->
        <a data-slide="prev" href="#Carousel" class="left carousel-control">‹</a>
        <a data-slide="next" href="#Carousel" class="right carousel-control">›</a>
      </div>
      <!--.Carousel-->

    </div>
  </div>
</div>
<!--.container-->

<div class="promise">
  <p class="ff">" ByBike is a very powerful online store providing professional sales service. I believe we can make a long-term cooperation and reach win-win goals. "
    <br><br>
    —— —— Trek Sales Manager Dan Hiben<img src="https://ww4.sinaimg.cn/large/006tNbRwgy1fda1odj84xj30b40b474t.jpg" id="pic1">
  </p>
  <p class="ff">" 加入ByBike后，Giant品牌认知度更广阔了，今年我们的新款产品在ByBike网站首发，日销量破千，同比去年销售量增长一倍。 "<br><br>
    —— —— Giant执行董事 羅祥安
    <img src="https://ww1.sinaimg.cn/large/006tNbRwgy1fda06kpqwpj305k05fgln.jpg" id="pic1">
  </p>
</div>

<!-- start-->
<div class="sn_section">
  <div class="g-row">
    <div class="module-name decorative">
      <i></i>
      <span>城市休闲</span>
      <i style="margin-left: 20px;"></i>
    </div>
    <div class="sn_list" style="margin-top:20px;">
      <a class="sn_item road " href="products/road/">
        <img src="https://ww1.sinaimg.cn/large/006tKfTcgy1fdamipy7cyj31hc0u0gr8.jpg" data-original="" alt="" class="j-lazyload img-lazyload img img-noBgPic img-lazyloaded">
      </a>
      <p class="text-road">" 周末约上好友，一起探索城市的每个角落。"<br>
        <i class="fa fa-bicycle" aria-hidden="true"></i>by bike</p>
    </div>
  </div>
</div>
<!-- end-->
<!-- start-->
<div class="sn_section">
  <div class="g-row">
    <div class="module-name decorative">
      <i></i>
      <span>山地越野</span>
      <i style="margin-left: 20px;"></i>
    </div>
    <div class="sn_list" style="margin-top:20px;">
      <p class="text-mountain">" 远离城市喧嚣，一起来山林探险。"<br>
        <i class="fa fa-bicycle" aria-hidden="true"></i>by bike</p>
      <a class="sn_item mountain " href="products/mountain/" style="margin-left:-10px;margin-right:10px;">
        <img src="https://ww2.sinaimg.cn/large/006tKfTcgy1fdan7w8ftgj30ku0dhqf8.jpg" class="j-lazyload img-lazyload img img-noBgPic img-lazyloaded">
      </a>
    </div>
  </div>
</div>
<!-- end-->

<!-- start-->
<div class="sn_section">
  <div class="g-row">
    <div class="module-name decorative">
      <i></i>
      <span>极限BMX</span>
      <i style="margin-left: 20px;"></i>
    </div>
    <div class="sn_list" style="margin-top:20px;">
      <a class="sn_item BMX" href="products/bmx/">
        <img src="https://ww2.sinaimg.cn/large/006tKfTcgy1fdanh8c4gwj30xc0irtbl.jpg" class="j-lazyload img-lazyload img img-noBgPic img-lazyloaded">
      </a>
      <p class="text-road">"放飞自我，挑战极限。"<br>
        <i class="fa fa-bicycle" aria-hidden="true"></i>by bike</p>
    </div>
  </div>
</div>
<!-- end-->
<div class="customer">
  <div class="customer-pic">

    <img src="https://ww1.sinaimg.cn/large/006tKfTcgy1fdanxp3mlbj30b40b43zn.jpg" class="cp1">

    <img src="https://ww1.sinaimg.cn/large/006tKfTcgy1fdao9g0skfj30b40b442t.jpg" class="cp2">

    <img src="https://ww1.sinaimg.cn/large/006tKfTcgy1fdaoa1bm96j30b40b4dmd.jpg" class="cp3">

  </div>
  <div class="customer-text">
    <p class="customer-text1">" 去年从ByBike网站购买了第一辆山地自行车，每天都会和朋友们一起骑行,锻炼身体。 "</p>
    <p class="customer-text2">" 买自行车就来ByBike,品类齐全，质量有保证，每年还提供免费维修，真的很棒！ "</p>
    <p class="customer-text3">" 在ByBike为全家购买了自行车，我们一家四口每周末都要骑行，孩子们特别开心。 "</p>
  </div>
  <div class="push-btn">
    <%=link_to("欢迎选购", products_path, class:"btn btn-danger btn-lg")%>
  </div>
</div>
