<head>
  <style>
    .carousel {
      margin-bottom: 0;
      padding: 0 40px 30px;
    }
    /* The controlsy */
    .carousel-control {
      left: -12px;
      height: 40px;
      width: 40px;
      background: none repeat scroll 0 0 #222222;
      border: 4px solid #FFFFFF;
      border-radius: 23px 23px 23px 23px;
      margin-top: 90px;
    }
    .carousel-control.right {
      right: -12px;
    }

    /* The colour of the indicators */
    .carousel-indicators li {
      background: #cecece;
    }
    .carousel-indicators .active {
      background: #428bca;
    }

    .hero a {
      z-index: 999;
      width: 200px;
      height: 200px;
      display: block;
    }

    .module-name {
      margin-top: 45px;
      margin-bottom: 30px;
      color: rgba(0, 0, 0, 0.7);
      text-align: center;
      font-size: 0;
    }
    .module-name.decorative i {
      display: inline-block;
      vertical-align: middle;
      width: 95px;
      height: 2px;
      background: rgba(0, 0, 0, 0.7);
      margin-right: 20px;
    }
    .module-name.decorative span {
      display: inline-block;
      vertical-align: middle;
      font-size: 30px;
    }
    .sticker-new {
      background: url("http://keenthemes.com/assets/bootsnipp/new.png") no-repeat;
      left: auto;
    }
    .sticker {
      position: absolute;
      top: 0;
      right: 15px;
      width: 63px;
      height: 63px;
    }

  </style>
</head>

<div class="carousel fade-carousel slide" data-ride="carousel" data-interval="4000" id="bs-carousel" style="padding-left:0px;padding-right:0px;">
  <!-- Overlay -->
  <div class="overlay"></div>

  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#bs-carousel" data-slide-to="0" class="active"></li>
    <li data-target="#bs-carousel" data-slide-to="1"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item slides active">
      <div class="slide-1"></div>
      <div class="hero">
        <hgroup>
          <h1>cross the city</h1><br>
          <h2>
            <i class="fa fa-bicycle" aria-hidden="true"></i>by bike
          </h2>
        </hgroup>
        <button class="btn btn-hero btn-lg" onclick="window.location.href='products/road/'" role="button">Road Bike</button>
      </div>
    </div>

    <div class="item slides">
      <div class="slide-2"></div>
      <div class="hero">
        <hgroup>
          <h1>cross the mountain</h1>
          <h2>
            <i class="fa fa-bicycle" aria-hidden="true"></i>by bike
          </h2>
        </hgroup>
        <button class="btn btn-hero btn-lg" onclick="window.location.href='products/mountain/'" role="button">Mountain Bike</button>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row" style="margin-top:20px;">
    <div class="col-md-12">
      <div class="module-name decorative">
        <i></i>
        <span>精选商品</span>
        <i style="margin-left: 20px;"></i>
      </div>
      <div id="Carousel" class="carousel slide">

        <!-- Carousel items -->
        <div class="carousel-inner">

          <div class="item active">
            <div class="row" style="margin-top:20px;">
              <div class="col-md-3">
                <div class="sticker sticker-new"></div>
                <a href="products/1/" class="thumbnail"><img src="https://ww1.sinaimg.cn/large/006tKfTcly1fd46ldcr1zj30by0byq3n.jpg" alt="Image" style="max-width:100%;"></a>
              </div>
              <div class="col-md-3">
                <a href="products/2/" class="thumbnail"><img src="https://ww4.sinaimg.cn/large/006tKfTcly1fd46lsrsknj30by0byjs0.jpg" alt="Image" style="max-width:100%;"></a>
              </div>
              <div class="col-md-3">
                <a href="products/3/" class="thumbnail"><img src="https://ww3.sinaimg.cn/large/006tKfTcly1fd4738xu4uj30by0by74x.jpg" alt="Image" style="max-width:100%;"></a>
              </div>
              <div class="col-md-3">
                <a href="products/4/" class="thumbnail"><img src="https://ww3.sinaimg.cn/large/006tKfTcly1fd479vyr1dj30by0byq3j.jpg" alt="Image" style="max-width:100%;"></a>
              </div>
            </div>
            <!--.row-->
          </div>
          <!--.item-->

          <div class="item">
            <div class="row" style="margin-top:20px;">
              <div class="col-md-3">
                <div class="sticker sticker-new"></div>
                <a href="products/5/" class="thumbnail"><img src="https://ww4.sinaimg.cn/large/006tNc79gy1fd1tl76yvvj30by0byaaq.jpg" alt="Image" style="max-width:100%;"></a>
              </div>
              <div class="col-md-3">
                <a href="products/6/" class="thumbnail"><img src="https://ww2.sinaimg.cn/large/006tKfTcly1fd47funk54j30by0by0tg.jpg" alt="Image" style="max-width:100%;"></a>
              </div>
              <div class="col-md-3">
                <a href="products/7/" class="thumbnail"><img src="https://ww4.sinaimg.cn/large/006tKfTcly1fd47vl4zu8j30by0byt9b.jpg" alt="Image" style="max-width:100%;"></a>
              </div>
              <div class="col-md-3">
                <a href="products/8/" class="thumbnail"><img src="https://ww3.sinaimg.cn/large/006tKfTcly1fd47v0gggqj30by0by74v.jpg" alt="Image" style="max-width:100%;"></a>
              </div>
            </div>
            <!--.row-->
          </div>
          <!--.item-->

        </div>
        <!--.carousel-inner-->
        <a data-slide="prev" href="#Carousel" class="left carousel-control">‹</a>
        <a data-slide="next" href="#Carousel" class="right carousel-control">›</a>
      </div>
      <!--.Carousel-->

    </div>
  </div>
</div>
<!--.container-->

<!-- start-->
<div class="sn_section">
  <div class="g-row">
    <div class="m-cate">
      <header class="hd">
        <div class="module-name decorative">
          <i></i>
          <span>公路竞速</span>
          <i style="margin-left: 20px;"></i>
        </div>
      </header>
      <div class="bd">
        <div class="sn_list" style="margin-top:20px;">
          <a class="sn_item first large " href="products/road/">
            <img src="https://ww2.sinaimg.cn/large/006tNc79gy1fd1houqtoxj30p00ukq5n.jpg" data-original="" alt="" class="j-lazyload img-lazyload img img-noBgPic img-lazyloaded">
          </a>
          <a class="sn_item large middle " href="products/road/">
            <img src="https://ww3.sinaimg.cn/large/006tNc79gy1fd1tnur9gwj30p00ukn1a.jpg" data-original="" alt="" class="j-lazyload img-lazyload img img-noBgPic img-lazyloaded">
          </a>
          <a class="sn_item large last" href="products/road/">
            <img src="https://ww2.sinaimg.cn/large/006tNc79gy1fd1tolz7u5j30p00ukq5q.jpg" data-original="" alt="" class="j-lazyload img-lazyload img img-noBgPic img-lazyloaded">
          </a>
          <a class="sn_item large last" href="products/road/">
            <img src="https://ww4.sinaimg.cn/large/006tNc79gy1fd1u72326xj30m80rsgrt.jpg" data-original="" alt="" class="j-lazyload img-lazyload img img-noBgPic img-lazyloaded">
          </a>

        </div>
      </div>
    </div>
  </div>
</div>
<!-- end-->
<!-- start-->
<div class="sn_section">
  <div class="g-row">
    <div class="m-cate">
      <header class="hd">
        <div class="module-name decorative">
          <i></i>
          <span>山地越野</span>
          <i style="margin-left: 20px;"></i>
        </div>
      </header>
      <div class="bd">
        <div class="sn_list" style="margin-top:20px;">
          <a class="sn_item mountain " href="products/mountain/" style="margin-left:-10px;margin-right:10px;">
            <img src="https://ww4.sinaimg.cn/large/006tNc79gy1fd1uvjmj81j31kw0w01kz.jpg" data-original="" alt="" class="j-lazyload img-lazyload img img-noBgPic img-lazyloaded">
          </a>
          <a class="sn_item mountain " href="products/mountain/">
            <img src="https://ww2.sinaimg.cn/large/006tNc79gy1fd1uli3fnzj31kw0w2b2b.jpg" data-original="" alt="" class="j-lazyload img-lazyload img img-noBgPic img-lazyloaded">
          </a>

        </div>
      </div>
    </div>
  </div>
</div>
<!-- end-->

<!-- start-->
<div class="sn_section">
  <div class="g-row">
    <div class="m-cate">
      <header class="hd">
        <div class="module-name decorative">
          <i></i>
          <span>极限BMX</span>
          <i style="margin-left: 20px;"></i>
        </div>
      </header>
      <div class="bd">
        <div class="sn_list" style="margin-top:20px;">
          <a class="sn_item BMX " href="#" style="margin-left:-10px;margin-right:10px;"></a>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- end-->
