/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

.navbar-default {
  background-color: rgb(245,245,245); //背景颜色
  border-color: rgb(245,245,245); //边框色
  margin-bottom: 0; //底部 margin 不撑开距离
  width: 100%;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .navbar {
    border-radius: 0; //圆角为0
  }
}

.navbar-default .navbar-brand {
  color: #212121; //字体颜色
  padding: 10px 15px; //上下10px,左右15px
  line-height: 30px; //文字行高
}

.navbar-default .navbar-brand:focus,
.navbar-default .navbar-brand:hover {
  color: green; //鼠标放置在链接上的文字颜色
  background-color: transparent; //鼠标放置在链接上的背景颜色，这里设为透明
}

.navbar-default .navbar-nav > li > a {
  color: #212121;
}

.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > li > a:hover {
  color: green;
  background-color: transparent;
}

#item {
  text-align: center;
  position: relative;
  overflow: hidden;
  display: block;
  background-color: #fff;
  border: 1px solid #f5f5f5;
  margin-bottom: 5px;
}

.icon-normal-ft1 {
  height: 51px;
  width: 51px;
  background: url("http://p1.bqimg.com/583835/9b83711b95469010.png") no-repeat center;
}

.icon-normal-ft2 {
  /*background-position: 0 -2014px;*/
  height: 51px;
  width: 51px;
  background: url("http://p1.bqimg.com/583835/20992670c08948c9.png") no-repeat center;
}

.icon-normal-ft3 {
  /*background-position: 0 -2075px;*/
  height: 51px;
  width: 51px;
  background: url("http://p1.bqimg.com/583835/029fb69c354631fb.png") no-repeat center;
}

.g-row {
  width: 1116px;
  margin-right: auto;
  margin-left: auto;
  position: relative;
}

.g-ft {
  padding-top: 60px;
  background-color: #fff;
}

.m-ft2 {
  height: 204px;
  padding-top: 37px;
  background-color: #414141;
}

.m-ft2 hr {
  display: block;
  height: 1px;
  margin-bottom: 27px;
  background-color: #4f4f4f;
  border: 0;
}

.g-ft {
  border-top: 0;
}

.sn_section {
  margin-top: 26px;
}

.sn_section .sn_list {
  overflow: hidden;
}

.sn_section .sn_list .sn_item {
  width: 270px;
  float: left;
  margin-left: 10px;
  overflow: hidden;
  position: relative;
  text-align: center;
}

.sn_section .sn_list .sn_item:hover > .img {
  -moz-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
}

.sn_section .sn_list .sn_item.road {
  margin-left: 0;
  width: 550px;
  height: 320px;
}

.sn_section .sn_list .sn_item .img {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  text-align: center;
  -moz-transition: -moz-transform 1s;
  -o-transition: -o-transform 1s;
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
  z-index: 1;
}

.sn_section .sn_list .sn_item.mountain {
  float: right;
  height: 320px;
  width: 550px;
}

.sn_section .sn_list .sn_item.BMX {
  margin-left: 0;
  width: 550px;
  height: 320px;
}

.sn_section .sn_list .sn_item.large.middle {
  margin-left: 9px !important;
}

.sn_section .right {
  padding-top: 18px;
}

.sn_section .right .moreItems {
  font-size: 16px;
  display: inline-block;
  color: #000;
}
/*footer*/
.footer_siteEnsure {
  margin-bottom: 30px;
}

.footer_siteEnsure:after,
.footer_siteEnsure:before {
  content: " ";
  display: table;
}

.footer_siteEnsure .item {
  float: left;
  width: 33.333333%;
  text-align: center;
}

.footer_siteEnsure .item .inner {
  color: #fff;
  font-size: 18px;
  line-height: 51px;
  display: inline-block;
  vertical-align: middle;
}

.footer_siteEnsure .item .inner .icon,
.footer_siteEnsure .item .inner .text {
  float: left;
}

.footer_siteEnsure .item .inner .icon {
  margin-right: 17px;
}

.footer_siteEnsure .item .inner .text {
  text-align: left;
}

.footer_info {
  text-align: center;
  color: #999;
}

.footer_info .nav {
  display: inline-block;
}

.footer_info .nav:after,
.footer_info .nav:before {
  content: " ";
  display: table;
}

.footer_info .nav:after {
  clear: both;
}

.footer_info .nav .text {
  color: #999;
}

.footer_info .nav .split {
  margin: auto 10px;
}
@import url(http://fonts.googleapis.com/css?family=Roboto);
/****** LOGIN MODAL ******/
.loginmodal-container {
  padding: 30px;
  max-width: 350px;
  width: 100% !important;
  background-color: #F7F7F7;
  margin: 0 auto;
  border-radius: 2px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  font-family: roboto;
}

.loginmodal-container h1 {
  text-align: center;
  font-size: 1.8em;
  font-family: roboto;
}

.loginmodal-container input[type=submit] {
  width: 100%;
  display: block;
  margin-bottom: 10px;
  position: relative;
}

.loginmodal-container input[type=text],
input[type=password] {
  height: 44px;
  font-size: 16px;
  width: 100%;
  margin-bottom: 10px;
  -webkit-appearance: none;
  background: #fff;
  border: 1px solid #d9d9d9;
  border-top: 1px solid #c0c0c0;
  /* border-radius: 2px; */
  padding: 0 8px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.loginmodal-container input[type=text]:hover,
input[type=password]:hover {
  border: 1px solid #b9b9b9;
  border-top: 1px solid #a0a0a0;
  -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
}

.loginmodal {
  text-align: center;
  font-size: 14px;
  font-family: 'Arial', sans-serif;
  font-weight: 700;
  height: 36px;
  padding: 0 8px;
  /* border-radius: 3px; */
  /* -webkit-user-select: none;
  user-select: none; */
}

.loginmodal-submit {
  /* border: 1px solid #3079ed; */
  border: 0;
  color: #fff;
  text-shadow: 0 1px rgba(0,0,0,0.1);
  background-color: #4d90fe;
  padding: 17px 0;
  font-family: roboto;
  font-size: 14px;
  /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#4787ed)); */
}

.loginmodal-submit:hover {
  /* border: 1px solid #2f5bb7; */
  border: 0;
  text-shadow: 0 1px rgba(0,0,0,0.3);
  background-color: #357ae8;
  /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#357ae8)); */
}

.loginmodal-container a {
  text-decoration: none;
  color: #666;
  font-weight: 400;
  text-align: center;
  display: inline-block;
  opacity: 0.6;
  transition: opacity ease 0.5s;
}

.login-help {
  font-size: 12px;
}

.center1090 {
  width: 1090px;
  margin: 50px auto 0;
  min-height: 600px;
}

.col-md-12 {
  width: 100%;
}
