<footer class="g-ft">
  <div class="m-ft2">
    <div class="g-row">
      <ul class="footer_siteEnsure clearfix">
        <li class="item">
          <div class="inner">
            <i class="icon icon-normal-ft1"></i>
            <p class="text">一年保修</p>
          </div>
        </li>
        <li class="item">
          <div class="inner">
            <i class="icon icon-normal-ft2"></i>
            <p class="text">送货上门</p>
          </div>
        </li>
        <li class="item">
          <div class="inner">
            <i class="icon icon-normal-ft3"></i>
            <p class="text">极致体验</p>
          </div>
        </li>
      </ul>
      <hr>
      <div class="footer_info">
        <nav class="nav">
          <a class="text">关于我们</a>
          <b class="split">&nbsp</b>
          <a class="text">公司文化</a>
          <b class="split">&nbsp</b>
          <a class="text">帮助中心</a>
          <b class="split">&nbsp</b>
          <a class="text">售后服务</a>
          <b class="split">&nbsp</b>
          <a class="text">客服热线: 4000-888-999 | 周一至周五 9:00~18:00</a>
          <b class="split">&nbsp</b>
          <a class="text">© Bybike出品</a>
        </nav>

      </div>
    </div>
  </div>
</footer>
